{% extends 'base.html' %}

{% block content %}
{% load static %}
<div class="container">

    <div class="row text-center margin-20">
        <h2>{{product.name}}</h2>
    </div>

    <div class="row">

        <div class="col-4">

            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    
                    {% for img in imgs %}
                        <div class="carousel-item active" data-bs-interval="10000">
                           
                            <img src="{{img.image.url}}"  class="d-block w-100 ">
                        </div>
                    {% endfor %}
                  
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        
        </div>

        <div class="col-8">
            <div class="description p-description">
                <h3>Description</h3>
                <p class="margin-20">{{product.description}}</p>
            </div>
            
            <div class="characteristics p-description">
                <h3>Characteristics</h3>
                <p>{{product.character}}</p>
            </div>  
            <div class="row">

                
                <div class="col-5" style="margin-top: 20px;">
        
                    <h1 class='price p-description' ><b>{{product.price}}</b>₴</h1>
                </div>
               

                <div class="col" style="margin-top: 20px;">
                    <div class="buy">
                        <button type="button" class="btn btn-lg btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                            To basket
                        </button>
                        
                        <!-- Modal -->
                            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col">
                                                    {% for img in imgs %}
                                                        {% if img.is_primary %}
                                                            <img src="{{img.image.url}}" id="img_modal" alt="" class="img-fluid">
                                                        {%endif%}
                                                    {% endfor %}
                                                </div>

                                                <div class="col">

                                        <form method="post">
                                            
                                                    <h3>{{product.price}}<b>₴</b></h3>
                                                    <br>
                                                    <p>You sure you want to add this product to basket?</p>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <a href="{% url 'add_product_to_basket' product.pk %}"><button type="button" class="btn btn-primary">Add to basket</button></a>
                                        </div>

                                    </form>

                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- rewievs -->
   
   <div class="row" style="margin-top: 20px ;">
        <h1>Reviews</h1>
        <div class="container">

            {% for review in reviews %}
            <div class="row">

                <div class="container">
                    <div class="row">
                        <h3>{{review.user.username}}</h3>
                    </div>
                    <div class="row">
                        <div class="col">
                            <h5><span>Raiting:</span> {{review.rating}}/5</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-11">
                            <p style="font-size: 17px;">{{review.comment.text}}</p>
                        </div>
                        <div class="col">
                            {% if review.user == request.user %}
                                <a href="{% url 'delete_review' review.pk %}"><button class="btn btn-danger">Delete</button></a>
                            {% endif %}
                        </div>
                       
                    </div>
                </div>
                
            </div>
            {% endfor %}
            
            <div class="row">
                <div class="col-6" style="margin-top: 10px; margin-bottom: 20px;">
                    <button class="btn btn-success" id="add-review" data-review-url="{% url 'add_review' product.pk %}" data-check-perm-url="{% url 'add_review_perm' product.pk %}">
                        Add review
                    </button>
                </div>
            </div>
        </div>


   </div>


</div>

<script src="{% static 'js/review.js' %}"></script>

{% endblock %}