{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="row text-center margin-20">
        <h2>{{product.name}}</h2>
    </div>

    <div class="row">

        <div class="col-4">

            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    
                    {% for img in imgs %}
                        <div class="carousel-item active" data-bs-interval="10000">
                           
                            <img src="{{img.image.url}}" class="d-block w-100">
                        </div>
                    {% endfor %}
                  
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>
        
        </div>

        <div class="col-8">
            <div class="description p-description">
                <h3>Description</h3>
                <p class="margin-20">{{product.description}}</p>
            </div>
            
            <div class="characteristics p-description">
                <h3>Characteristics</h3>
                <p>{{product.character}}</p>
            </div>
        </div>

    </div>

    <div class="row">
        <div class="col-3" style="margin-top: 20px;">
            
            <h1 class='price'><b>{{product.price}}</b>₴</h1>
        </div>
    </div>

    <!-- rewievs -->
   <h1>Reviews</h1>
   <div class="row">
        <div class="container">
            
        </div>
   </div>


</div>

{% endblock %}