{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-4">
                <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                        
                        {% for img in imgs %}
                            <div class="carousel-item active" data-bs-interval="10000">
                               
                                <img src="{{img.image.url}}"  class="d-block w-100 ">
                            </div>
                        {% endfor %}
                      
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>

                

            </div>

            <div class="col">
                <form method="post">
                    {% csrf_token %}
                    {{form.as_p}}
<!-- 
                    {% for img_form in img_forms %}
                        {{img_form.as_p}}
                    {% endfor %} -->

                    <button type="submit" class="btn btn-primary">Оновити</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}